<a [routerLink]="['/updatepassword']"class = "btn btn-success" >Change password </a>

<br>
<br>

<input type="search" [(ngModel)] = "search" class="form-control" placeholder="Search..."
                        aria-label="Search">

<table class = "table table-hover"> <thead>
    <tr>
        <th>No</th>
        <th>Item Name</th>
        <th>Type</th>
        <th>Descrption</th>
        <th>Height</th>
        <th>width</th>
        <th>Price</th>
        <th>ImageName</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let p of Productlist|filter:search;let i = index ">
            <td>{{i}}</td>
            <td>{{p.productName}}</td>
            <td>{{p.type}}</td>
            <td>{{p.desc}}</td>
            <td>{{p.height}}</td>
            <td>{{p.width}}</td>
            <td>{{p.price}}</td>
            <td>{{p.productimage}}</td>
            <td><a [routerLink]="['/updateproduct',p.id]"class = "btn btn-warning" >Update Product</a></td>
            <td><button class = "btn btn-danger" (click)=delete(p,i) >Delete Product</button></td>
        </tr>
    </tbody>
</table>
<hr>
<hr>
<a [routerLink]="['/addItem']"class = "btn btn-success" >Add Product</a>