<table class = "table table-hover"> <thead>
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Brand Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Descrption</th>
        <th>ImageName</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let p of Productlist;let i = index ">
            <td>{{p.productId}}</td>
            <td>{{p.productName}}</td>
            <td>{{p.brandName}}</td>
            <td>{{p.category}}</td>
            <td>{{p.qty}}</td>
            <td>{{p.price}}</td>
            <td>{{p.desc}}</td>
            <td>{{p.productimage}}</td>
            <td><a [routerLink]="['/updateproduct',p.id]"class = "btn btn-secoundary" >Update Product</a></td>
            <td><button class = "btn btn-secoundary" (click)=delete(p,i) >Delete Product</button></td>
        </tr>
    </tbody>
</table>